.Modal-background {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000048;
  z-index: 998;
  height: 100%;
  width: 100%;
}

#Modal {
  opacity: 1;
  margin: auto;
  position: relative;
  width: 40vw;
  background-color: #404c54;
  border-radius: 3px;
  margin: auto;
  z-index: 999;
}

.Modal-edit {
  display: flex;
  flex-direction: column;
  overflow: initial;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.Modal-header {
  border-radius: 3px 3px 3px 3px;
  height: 10vh;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #6BC47C;
  border-bottom: 2px solid #ffff;
}

.Modal-header span {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
}

.Modal-edit textarea {
  resize: none;
  margin: 20px;
  width: 90%;
  height: 120px;
  border: none;
  word-break: break-all;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  border-radius: 3px;
  font-weight: 400;
}

.Modal-edit textarea:focus {
  margin:18px ;
  outline: none;
  border: 2px solid #57e471;
}

.Modal-buttons {
  display: flex;
  flex-direction: row;
}

.Modal-buttons button {
  margin: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
  font-size: 1em;
}

.editButton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #6BC47C;
}

.editButton:hover {
  background-color: #57e471;
  cursor: pointer;
}

.editButton:focus,
.cancelButton:hover {
  border: none;
  outline: none;
}

.cancelButton {
  background-color: #404c54;
  border: none;
  border-bottom: 2px solid #FF8686;
}

.cancelButton:hover {
  border-bottom: 2px solid #f85252;
}