.Message-input {
  margin: 10px auto;
  display: flex;
  overflow: initial;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background-color: #404c54;

}

.Message-input textarea {
  margin: 15px;
  width: 90%;
  height: 70px;
  overflow: auto;
  resize: none;
  border: none;
  word-break: break-all;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  border-radius: 3px;
  font-weight: 400;
}

.Message-input textarea:focus {
  outline: none;
  margin: 13px;
  border: 2px solid #57e471;
}



.Input-button {
  width: 10%;
  min-height: 50px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Input-button button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #6BC47C;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
  font-size: 1em;
}

.Input-button button:hover {
  background-color: #57e471;
  cursor: pointer;
}

.Input-button button:focus {
  border: none;
  outline: none;
}